<ion-view>
<ion-content>
    <button ng-click="branchToChat('Cleveland')" class="button button-block button-dark">
      Cleveland
    </button>
     <button ng-click="branchToChat('Rochester')" class="button button-block button-dark">
      Rochester
    </button>
     <button ng-click="branchToChat('Columbus')" class="button button-block button-dark">
      Columbus
    </button>
     <button ng-click="branchToChat('Jacksonville')" class="button button-block button-dark">
      Jacksonville
    </button>
</ion-content>
</ion-view>