<ion-view title="Update ME">
  <ion-content lazy-scroll has-header="true"> 
	
	<ion-spinner icon="bubbles" ng-if='isPropertyDetailsLoading' class="spinner"></ion-spinner>
	
	<div ng-if="!isPropertyDetailsLoading">
		<div>
			<ion-slide-box ng-if="allImages">
		   	<ion-slide ng-repeat="propertyImg in allImages" >
			    <div class="animated fadeInLeft propertyImg" 
			    ng-style="{'background-image':'url(http://ec2-52-32-92-71.us-west-2.compute.amazonaws.com/S_uploads/{{ propertyImg.FileName }})'}">		    
			    </div>
			  </ion-slide>	   	
		   	</ion-slide-box>
		</div>
		
		<div class="propertyName">{{allImages[0].PropertyName}}</div>
	</div>	
		
	<hr class="propertyDetails">	
		
	<div ng-if="!isPropertyDetailsLoading">	
		<!-- START Rent -->
		<div class="section" ng-click="click(1)">
	 		<h3 class="sectionTitle" ng-class="showRent == 1 ? 'lightBlue' : ''">Rent</h3>
			<i class="icon pointer arrow" 
			ng-class="showRent == 1 ? 'animated fadeIn ion-chevron-up' : 'animated fadeIn ion-chevron-down'"></i>  
	
			<div ng-if="showRent == 1" ng-class="showRent == 1 ? 'animated fadeIn' : 'animated fadeOutUp'">
				<ul class="propertyDetails">
					<li>
						<span>Is Sent Funds</span>
						<span>{{renovation['IsSentFunds'] == 1 ? "Yes" : "No"}}</span>
					</li>
					<li>
						<span>Funds Sent</span>
						<span>{{renovation['FundsSent']}}</span>
					</li>
					<li>
						<span>Work Estimate</span>
						<span>{{renovation['WorkEstimate']}}</span>
					</li>
					<li>
						<span>Start Date</span>
						<span>{{renovation['StartDate']}}</span>
					</li>
					<li>
						<span>End Date</span>
						<span>{{renovation['FinishDate']}}</span>
					</li>
					<li>
						<span>First Payment</span>
						<span>{{renovation['Payment1'] == 1 ? "Yes" : "No"}}</span>
					</li>
					<li>
						<span>Second Payment</span>
						<span>{{renovation['Payment2'] == 1 ? "Yes" : "No"}}</span>
					</li>
					<li>
						<span>Third Payment</span>
						<span>{{renovation['Payment3'] == 1 ? "Yes" : "No"}}</span>
					</li>
					<li>
						<span>CofO</span>
						<span>{{renovation['CofO'] == 1 ? "Yes" : "No"}}</span>
					</li>
					<li>
						<span>CofO Date</span>
						<span>{{renovation['CofODate']}}</span>
					</li>
					<li ng-show="showRenovationNote" >
						<span>Note</span>
						<p class="note">{{renovation['Note']}}</p>
					</li>
				</ul>			
			</div>  
	 	</div> 
	 	<!-- END Rent --> 
		
		<hr class="propertyDetails">
		
	 	<!-- START Lease --> 
	 	<div class="section" ng-click="click(2)"> 
	 		<h3 class="sectionTitle" ng-class="showLease == 1 ? 'lightBlue' : ''">Lease</h3>
			<i class="icon pointer arrow" 
			ng-class="showLease == 1 ? 'animated fadeIn ion-chevron-up' : 'animated fadeIn ion-chevron-down'"></i>  
			<div ng-if="showLease == 1" ng-class="showLease == 1 ? 'animated fadeIn' : 'animated fadeOutUp'">
				<ul class="propertyDetails">
					<li>
						<span>Lease Start Date</span>
						<span>{{lease['LeaseStartDate']}}</span>
					</li>
					<li>
						<span>Lease End Date</span>
						<span>{{lease['LeaseEndDate']}}</span>
					</li>
				</ul>			
			</div>
	 	</div> 
	 	<!-- END Lease --> 
		
		<hr class="propertyDetails">
		
	 	<!-- START Eviction --> 
	 	<div class="section" ng-click="click(3)"> 
	 		<h3 class="sectionTitle" ng-class="showEviction == 1 ? 'lightBlue' : ''">Eviction</h3>
			<i class="icon pointer arrow" 
			ng-class="showEviction == 1 ? 'animated fadeIn ion-chevron-up' : 'animated fadeIn ion-chevron-down'"></i>   
			<div ng-if="showEviction == 1" ng-class="showEviction == 1 ? 'animated fadeIn' : 'animated fadeOutUp'">
				<ul class="propertyDetails">
					<li>
						<span>Out Standing Balance</span>
						<span>{{eviction['OutStandingBalance']}}</span>
					</li>
					<li ng-show="isEvictionField">
						<span>Eviction Field Date</span>
						<span>{{eviction['EvictionField']}}</span>
					</li>
					<li ng-show="isCourtDate">
						<span>Court Date</span>
						<span>{{eviction['CourtDate']}}</span>
					</li>
					<li ng-show="isLockOut">
						<span>Lock Out Date</span>
						<span>{{eviction['LockOut']}}</span>
					</li>
					<li>
						<span>Note</span>
						<span>{{eviction['Notes']}}</span>
					</li>					
				</ul>			
			</div>      
	 	</div> 
		<!-- END Eviction -->
	
		<div id="requestInfo"
			ng-show="requestPopup == 1" 
			ng-class="requestPopup == 1 ? 'requestPopup animated fadeIn' : 'requestPopup'">
			<div>
				<h3 class="calign">REQUEST INFO</h3>
				<i class="ralign icon ion-android-cancel" ng-click="closePopup()"></i>
			</div>
			<ul class="propertyDetails">
				<li>
					<span>Purchase and Sale</span>	
					<span class="checkboxFive">
						<input type="checkbox" id="checkboxFiveInput" ng-model="Info.PurchasesAndSales"/>
						<label for="checkboxFiveInput"></label>
					</span>
				</li>
				<li>
					<span>Closing</span>
					<span class="checkboxFive">
						<input type="checkbox" id="checkboxFiveInput1" ng-model="Info.Closing">
						<label for="checkboxFiveInput1"></label>
					</span>
				</li>
				<li>
					<span>Renovation</span>
					<span class="checkboxFive">
						<input type="checkbox" id="checkboxFiveInput2" ng-model="Info.Renovations">
						<label for="checkboxFiveInput2"></label>
					</span>
				</li>
				<li>
					<span>Leasing</span>
					<span class="checkboxFive">
						<input type="checkbox" id="checkboxFiveInput3" ng-model="Info.Leasing">
						<label for="checkboxFiveInput3"></label>
					</span>
				</li>
				<li>
					<span>Occupied Property</span>
					<span class="checkboxFive">
						<input type="checkbox" id="checkboxFiveInput4" ng-model="Info.OccupiedProperty">
						<label for="checkboxFiveInput4"></label>
					</span>
				</li>
				<li>
					<span>Eviction</span>
					<span class="checkboxFive">
						<input type="checkbox" id="checkboxFiveInput5" ng-model="Info.Evictions">
						<label for="checkboxFiveInput5"></label>
					</span>
				</li>
				<li>
					<div class="calign">
						<button class="seeAll" ng-click="sendRequestInfo()">save</button>
					</div>
				</li>
			</ul>
		</div>
		
		<button class="infoBtn" ng-click="requestInfo()">REQUEST INFO</button>
	
	</div>
  </ion-content>
</ion-view>

